html, body {
    margin: 0;
    padding: 0;
}

body {
    font: 100% Arial, Helvetica, sans-serif;
}

header{
    background-color: #EEEEEE;
    padding: 10px;
}

.rainydays_logo {
    display: block;
    max-height: 20vh;
    width: 100%;
    max-width: 700px;
    margin: auto;
}

.nav_bar {
    width: 100%;
    display: flex;
    align-items: baseline;
    max-width: 1600px;
    margin: auto;
}

nav {
    flex: 1;
    text-align: left;
}

nav ul li {
    display: inline-block;
}

.p-menu1{
    height: 100%;
 }
 
 /* Hamburger */
 .hamburger1 {
   height: 45px;
   margin: 10px;
   display: -ms-grid;
   display: grid;
   grid-template-rows: repeat(3, 1fr);
   z-index: 120;
 }
 
 .hamburger1 div {
   background-color: rgb(61, 61, 61);
   position: relative;
   width: 40px;
   height: 5px;
   margin-top: 7px;
   -webkit-transition: all 0.2s ease-in-out;
   transition: all 0.2s ease-in-out;
 }
 
 #toggle1 {
   display: none;
 }
 
 #toggle1:checked + .hamburger1 .top {
   -webkit-transform: rotate(-45deg);
           transform: rotate(-45deg);
   margin-top: 22.5px;
 }
 
 #toggle1:checked + .hamburger1 .meat {
   -webkit-transform: rotate(45deg);
           transform: rotate(45deg);
   margin-top: -5px;
 }
 
 #toggle1:checked + .hamburger1 .bottom {
   -webkit-transform: scale(0);
           transform: scale(0);
 }
 
 #toggle1:checked ~ .menu1 {
   height: 340px;
 }
 
 
 /* Menu */
 .menu1 {
   width: 100%;
   background-color: #fdfdfd;
   margin: 0;
   display: -ms-grid;
   display: grid;
   grid-template-rows: 1fr repeat(4, 0.5fr);
   grid-row-gap: 25px;
   padding: 0;
   list-style: none;
   clear: both;
   width: auto;
   text-align: center;
   height: 0px;
   overflow: hidden;
   transition: height .4s ease;
   z-index: 120;
   -webkit-transition: all 0.3s ease;
   transition: all 0.3s ease;
 }
 
 .menu1 a:first-child {
   margin-top: 40px;
 }
 
 .menu1 a:last-child {
   margin-bottom: 40px;
 }
 
 .link1 {
   width: 100%;
   margin: 0;
   padding: 10px 0;
   font: 700 20px 'Oswald', sans-serif;
 }
 
 .link1:hover {
   background-color: #EEEEEE;
   color: rgb(61, 61, 61);
   -webkit-transition: all 0.3s ease;
   transition: all 0.3s ease;
 }

.search_bar {
    border-radius: 40px;
    background: #fff;
}

input {
    max-width: 100px;
    padding: 10px;
    border: none;
    border-radius: 50%;
    outline: none;
    font-size: 1.5rem;
}

.nav_bar i {
    padding: 10px;
    font-size: 1.5rem;
}

/* links */
a {
    text-decoration: none;
}

.active {
    text-decoration: underline;
}

ul li a {
    color: black;
    padding: 5px 25px;
    font: 40px bold;
    transition: 0.6s ease;
}

ul li a:hover {
    background-color: #fff;
    color: #000;
}

.cta {
    background-color: #000;
    color: #fff;
    padding: 10px 25%;
    border-radius: 38px;
}

/* Main */

.welcome {
    background-image: url(../images/andy-kogl-LkF3du9aMDs-unsplash.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    min-height: 70vh;
    position: relative;
    max-width: 1600px;
    margin: 25px auto;
}

.welcome_content {
    position: absolute;
    text-align: left;
    padding: 5%;
    max-width: 500px;
}

.welcome_content h1 {
    font-size: 4rem;
    color: #fff;
}

.welcome_content p {
    margin: 30px 0;
    font-size: 1.8rem;
    color: #fff;
}

.middle_text {
    text-align: center;
    text-transform: uppercase;
}

.popular {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin: 15px auto;
    gap: 15px;
    max-width: 1600px;
}

.popular_now img {
    width: 100%;
}

.popular_now {
    cursor: pointer;
    text-align: center;
}

/* Footer */

footer {
    background-color: #C5D2E5;
}

.footer_menu {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    max-width: 1600px;
    margin: auto;
}

.footer_child {
    flex: 1;
    padding: 30px;
    text-align: center;
}

.footer_child h1 {
    font-size: 40px;
}

.footer_child i {
    padding: 15px;
    font-size: 30px;
}

footer p {
    max-width: 300px;
    margin: 20px auto;
}

/*Mobile styles*/
@media only screen and (max-width:425px) {

    ul li a {
        display: none;
    }

    .welcome_content h1 {
        font-size: 3.5rem;
    }
    
    .welcome_content p {
        margin: 30px 0;
        font-size: 1.1rem;
    }

    .search_bar {
        display: none;
    }

    .footer_menu {
        grid-template-columns: 1fr;
    }

    .footer_child h1 {
        font-size: 30px;
    }
}


/*tablet styles*/
@media only screen and (min-width:425px) and (max-width:956px) {

    ul li a {
        display: none;
    }

     .welcome_content h1 {
        font-size: 3.5rem;
    }
    
    .welcome_content p {
        margin: 30px 0;
        font-size: 1.5rem;
    }
    
    .footer_child {
        padding: 10%;
    }
    
    .footer_child h1 {
        font-size: 30px;
    }
}
    

/*desktop styles*/
@media only screen and (min-width:957px) {

    body {
        margin: auto;
        width: 100%;
    }

    .p-menu1 {
        display: none;
    }

}